<% if signed_in? %>
  <div class="row">
    <div class="center hero-unit">
      <section>
         <%= render 'shared/main_photo' %>
      </section>
    </div>
  </div>
  <div class="row">
    <aside class="span4">
      <section>
         <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Feeds</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <div class="home-image">
    <h1>Pinder</h1>

    <h2>
      Let's find places where you want to go
    </h2>

    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-warning" %>
    </div>
  </div>

  <!-- # <%= link_to image_tag("hokkaido.png", alt: "Rails"), 'http://japan-festival.net/category/place-to-go/hokkaido/' %> -->
<% end %>

<!--      Fluct グループ名「FIELDRUNNERS2 攻略：300×250（記事内上部）」      -->
<script type="text/javascript" src="http://sh.adingo.jp/?G=1000011420&guid=ON"></script>
<!--      Fluct ユニット名「FIELDRUNNERS2 攻略：300×250（記事内上部）」     -->
<script type="text/javascript">
//<![CDATA[
if(typeof(adingoFluct)!="undefined") adingoFluct.showAd('1000015524');
//]]>
</script>
