<% provide(:title, 'All users') %>
<h1>All users</h1>

  <%= search_form_for @search do |f| %>
  <div class="control-group">
    <%= f.label :name_cont %>
    <div class="controls">
      <%= f.text_field :name_cont %>
    </div>
  </div>
  <%= f.submit %>
  <% end %>

<%= render @users %>
