<!-- <div>現在時刻：<%= Time.now %></div> -->
<div id="result">
  <!-- 現在時刻：<%= Time.now %> -->
<% @photos = ["/images/beer.jpg","/images/curry.jpg","/images/dou.jpg", "/images/ferry.jpg","/images/kindai.jpg", "/images/kuma.jpg","/images/tomoro.jpg","/images/mtrishiri.jpg"].shuffle %>
<p><%= image_tag @photos[0] %></p>
</div>

<br>
<%= link_to "行きたい",  { action: :home },
                            class: "btn btn-large btn-warning", remote: true %>
<%= link_to "またあとで", { action: :home },
                            class: "btn btn-large btn-warning", remote: true %>
