<!--      Fluct グループ名「FIELDRUNNERS2 攻略：300×250（記事内上部）」      -->
<script type="text/javascript" src="http://sh.adingo.jp/?G=1000011420&guid=ON"></script>
<!--      Fluct ユニット名「FIELDRUNNERS2 攻略：300×250（記事内上部）」     -->
<script type="text/javascript">
//<![CDATA[
if(typeof(adingoFluct)!="undefined") adingoFluct.showAd('1000015524');
//]]>
</script>

<!-- Geniee ad tags Size: 300x250 ZoneId:6886-->
<a href="<%= user_path(current_user) %>">
  <%= gravatar_for current_user, size: 52 %>
</a>
<h1>
  <%= current_user.name %>
</h1>
<span>
  <%= link_to "view my profile", current_user %>
</span>
<span>
  <%= pluralize(current_user.microposts.count, "micropost") %>
</span>
